*{
    box-sizing: border-box;
}

#frame{
    width: 500px;
    height: 500px;
    background-color: burlywood;
    margin: 100px auto;
    display: flex;

    justify-content: center;
    

}
#select{
    
    margin: auto;
    
    justify-content: center;
}

#slide{
    display: flex;
    margin:50px 0;
    background-color: chocolate;
    width: 100%;
    height: 100px;
    gap: 3px;

}
img{
    height: inherit;
    transition: all 1s;
}
.miniImg{
    width: 100px;
    
    border: solid 1px black;
}
.selected{
    transition: all .5s;
    outline: solid 3px blue;
    transform: scale(1.1) ;
    
}